<p class="lead">The Home 2</p>
  <hr class="my-4">
  <p>This is an amazing page!!!</p>
  <script> alert('home2'); </script>
  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
  // alert("passEjs = " + passEjs);
  // How to extract values ftom getPassEjs
  // alert("getPassEjs = " + getPassEjs);
  // alert(getPassEjs[0]);
  // alert(getPassEjs[0]["puppyTestInfos"]);
  
</script>


<h4>Form 1</h4>
<a href="form1/create/<%= passEjsObj[0]["create"] %>">save</a>
<br><br>
<a href="form1/read/<%= passEjsObj[0]["kittyReadInfos"] %>">read</a>
<br><br>
<a href="form1/update/<%= passEjsObj[0]["kittyUpdateInfos"] %>">update</a>
<br><br>
<a href="form1/delete/<%= passEjsObj[0]["kittyDeleteInfos"] %>">delete</a>
<br><br>
<a href="form1/lastitems/<%= passEjsObj[0]["kittyLastitemInfos"] %>">last items</a>

