<p class="lead">Form 1 Create</p>
  <hr class="my-4">
  <ul>
    <li>creates a record into the MongoDB</li>
    <li>uses a Schema</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
alert("document ready 00");
alert(randWord(5));
var randName = randWord(5);
var randAge = randNum(99);
alert("name: " + randName + " - age: " + randAge);
 
</script>

<script>
 // alert("document ready");
  // var randName = randWord(5);
 // var randAge = randNum(99);
  // alert("name: " + randName " - age: " + randAge);
 // $("#inpName").attr("value", "Gino");
  
// document.getElementById('theTest').innerHTML += "io sono il test";

// $( document ).ready(function() {
   // alert("document ready");
    // $("#inpName").val("Gino");
   //  $("#theTest").html("io sono il test");
   // $( "input[name='name']" ).val("Ugo");
		
// });

</script>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
  // alert("passEjs = " + passEjs);
  // How to extract values ftom getPassEjs
 alert(getPassEjs);
 alert(getPassEjs[0]);
 alert(getPassEjs[0]["name"]);
</script>



<%
  var ejsName = "Franco"; 
  var ejsAge = "22"; 
%>
<p>passEjs: <%= passEjs; %></p>

<br><br>

<div id="theTest">theTest</div>

<br>

<ul class="info">
    <li>
      <span id="theId"><%= passEjsObj[0]["id"] %></span>
    </li>
    <li>
      <span id="theName"></span>
    </li>
    <li>
      <span id="theAge"><%= passEjsObj[0]["age"] %></span>
    </li>
  </ul>


  <form action="/form1/createp/" method="POST">
    <input type="text" placeholder="name" name="name" value="">
    <input type="text" placeholder="age" name="age" value="<%= ejsAge %>">
    <button type="submit">Submit</button>
  </form>


