<p class="lead">Form 1 Create</p>
  <hr class="my-4">
  <ul>
    <li>creates a record into the MongoDB</li>
    <li>uses a Schema</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
  // alert("passEjs = " + passEjs);
  // How to extract values ftom getPassEjs
 // alert("getPassEjs = " + getPassEjs);
 // alert(getPassEjs[0]);
 // alert(getPassEjs[0]["puppyTestInfos"]);
</script>

<script>
  var randName = randWord(5);
  var randAge = randNum(99);
  alert("name: " + randName " - age: " + randAge);

</script>

<%
  var ejsName = "Franco"; 
  var ejsAge = "22"; 
%>

<ul class="info">
    <li>
      <span id="theName"><%= passEjsObj[0]["name"] %></span>
    </li>
    <li>
      <span id="theAge"><%= passEjsObj[0]["age"] %></span>
    </li>
    <li>
      <span id="theOther"><%= passEjsObj[0]["other"] %></span>
    </li>
  </ul>


  <form action="/form1/createp" method="POST">
    <input type="text" placeholder="name" name="name" value="<%= ejsName %>">
    <input type="text" placeholder="age" name="age" value="<%= ejsAge %>">
    <button type="submit">Submit</button>
  </form>


