
<!-- <p class="lead">Form 2 Update Record</p> -->
 <hr class="my-4">
  <ul>
    <li>updates a record into the MongoDB</li>
    <li>recieves the record id</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar;

  var result = passEjsObj[0]["result"];
  var theId = result["_id"];
  var theName = result["name"];
  var theDescr = result["description"];
  var theRate = result["rate"];
  var coordX = result["loc"]["coordinates"][0];
  var coordY = result["loc"]["coordinates"][1];
  var theDay = result["time"].toLocaleDateString();
  var theTime = result["time"].toLocaleTimeString();

%>

<p> theTime: <%= theTime; %> </p>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
    $(document).ready(function(){
	    $( "#bla" ).html("passEjs: " + getPassEjs[0]["result"]["description"]);
	});
</script>

<div id="bla">ooooo</div>

<script>
  var result = getPassEjs[0]["result"];
  var theId = result["_id"];
  var theName = result["name"];
  var theDescr = result["description"];
  var theRate = result["rate"];
  var theDay = result["time"];
  var theTime = result["time"];
  var coordX = result["loc"]["coordinates"][0];
  var coordY = result["loc"]["coordinates"][1];
  
	alert("id: " + theId +
        " - name: " + theName +
        " - rate: " + theRate +
        " - description: " + theDescr +
        " - day: " + theDay +
        " - time: " + theTime +
        " - coord X: " +  coordX +
        " - coord Y: " +  coordY);


$(document).ready(function(){
	$( "input[name='id']" ).val(theId);
	$( "input[name='name']" ).val(theName);
	$( "input[name='rate']" ).val(theRate);
	$( "input[name='myRange']" ).val(theRate);
 	$("#description").html(theDescr);
	$( "input[name='coordx']" ).val(coordX);
	$( "input[name='coordy']" ).val(coordY);
});

</script>

<form action="/form3maps/updatep/" method="post" class="my-2 my-lg-0">

	<div class="form-raw">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">ID</div>
			</div>
			<input name="id" class="form-control mr-sm-2" placeholder="item ID" aria-label="ID" readonly>
		</div>
  </div>

	<div class="form-raw">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Date</div>
			</div>
			<input name="date" class="form-control mr-sm-2" value="<%= theDay; %>" aria-label="ID" readonly>
			<div class="input-group-prepend">
				<div class="input-group-text">Time</div>
			</div>
			<input name="time" class="form-control mr-sm-2" value="<%= theTime; %>" aria-label="ID" readonly>
		</div>
 	 </div>
	 
	 <div class="form-raw">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Name</div>
			</div>
			<input name="name" class="form-control mr-sm-2" placeholder="Point Name" aria-label="Name">
		</div>
 	 </div>
	
	<div class="form-raw">
		<div class="form-group">
		  <div class="input-group-prepend">
			<div class="input-group-text">Description</div>
		  </div>
		  <textarea id="description" class="form-control rounded-0" name="description" placeholder="enter description..." rows="3"></textarea>
		</div>
     	</div>
	
      <div class="form-row">
	  <div class="col">

	       			<input type="range" min="1" max="10" value="5" class="slider customRange" id="myRange">
		
	    </div>
	    <div class="col">
		    <div class="input-group mb-2">
				<div class="input-group-prepend">
					<div class="input-group-text">Rate</div>
				</div>
				
		    	 <input name="rate" class="form-control mr-sm-2" aria-label="Rate" placeholder="Rate" value="5" readonly>
		     </div>
	    </div>
	</div>	
        
      	<div class="form-row">	   
	    	 <div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">X coord</div>
			</div>
	     		<input name="coordx" class="form-control mr-sm-2" aria-label="CoordX" placeholder="CoordX" readonly>
	      	 </div>
	</div>
	<div class="form-row">
	   	<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Y coord</div>
			</div>
	    		<input name="coordy" class="form-control mr-sm-2" aria-label="CoordY" placeholder="CoordY" readonly> 
		</div>	
	</div>
	 	
     
	<div class="form-row">
     		<button id="theButton" class="btn btn-outline-success my-2 my-sm-0" >Update</button>   
     	</div>	
  </form> 
  
  <script>
    var slider = document.getElementById("myRange");
    
    slider.oninput = function() {
  	$( "input[name='rate']" ).val(this.value);
	}
    
    </script>
    


  <style>
    .placemark .content * {
      color: inherit!important;
    }
    .ol-overlay-container {
      width: 20px;
      height: 20px;
      border: 1px solid #08F;
      border-radius: 10px;
      background-color: rgba(0,128,255,.5);
      cursor: move;
      position: relative;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }
    .ol-popup {
      text-align: center;
      cursor: move;
    }
  </style>

  <div id="marker" title="Marker"></div>

  <h1>Update Record Position</h1>

    </div>

	<!-- map div -->
	<div id="map" style="width:600px; height:400px;"></div>

	<div class="options">
    	Move the marker on the map...
    	<br/>
	
    <!-- 
	    <button onclick="placemark[0].show(map.getView().getCenter())">
	      Reset Position
	    </button>
    -->
    
    	    <button onclick="doPan(<%= coordX; %>,<%= coordY; %>)">
	      Reset Position
	    </button>
    
	</div>
	
<script>
	/*
	function toWGS84(coordx, coordy) {
		 var coordsWGS84 = ol.proj.transform([coordx, coordy, 'EPSG:900913','EPSG:4326');
		 return coordsWGS84;
	} 
	*/


	// var idCoords = toWGS84([coordX, coordY]);
	var idCoords = [coordX, coordY];
	
	alert(idCoords);
	
</script>
	

<script>

	var baseCoords = [coordX, coordY];
	
	/*
	// Layers
	var layers = [ new ol.layer.Tile({
			title:'terrain-background',
			source: new ol.source.Stamen({ layer: 'terrain' })
			})
  		];
	*/
	
	var layers = [new ol.layer.Tile({
					source: new ol.source.OSM()
				      })
		     ];
		
	// The map
	var map = new ol.Map ({
			    target: 'map',

			    view: new ol.View({
				  projection: 'EPSG:4326',
				  center: baseCoords,
				  zoom: 15
			    }),
			    
			    layers: layers,
			    
			});
	/*		
  	// Overlays
	var placemark = [

			    
			    new ol.Overlay.Placemark ({
			      position: [0, 5600000],
			      stopEvent: false
			    }),
			    
			    new ol.Overlay.Popup ({
			      position: [0, 6000000],
			      closeBox: true,
			      positioning: 'bottom-center',
			      html: 'Move<br/>me!',
			      stopEvent: false
			    }),
    
			    new ol.Overlay({
			      position: [300000, 6000000],
			      positioning: 'center-center',
			      element: ol.ext.element.create('DIV', {html:'1'}),
			      stopEvent: false,
			    }),
			    
			    new ol.Overlay({
			      position: [300000, 5600000],
			      positioning: 'center-center',
			      element: ol.ext.element.create('DIV', {html:'2'}),
			      stopEvent: false,
			    })
  			];
	*/

/*
// Overlays
	var placemark = [

			    
			    new ol.Overlay.Placemark ({
			      position: [12,14],
			      stopEvent: false
			    }),
			    
			    new ol.Overlay.Popup ({
			      position: idCoords,
			      closeBox: true,
			      positioning: 'bottom-center',
			      html: 'Move<br/>me!',
			      stopEvent: false
			    }),
  			];	
*/	
	
	
	

			
  	// Overlays
	var placemark = [			   			    
			    new ol.Overlay.Placemark ({
			      position: baseCoords,
			      stopEvent: false
			    })   			   
  			];
	
	
	/*
	var placemark = new ol.Overlay.Placemark ({
			      position: [0, 6000000],
			      stopEvent: false
			    }); 			   
  	*/			
		
	 // map.addOverlay(placemark);
	 
	
	 placemark.forEach(function(p) {
	    map.addOverlay(p);
	  });
	  

	  // Drag interaction
	  var drag = new ol.interaction.DragOverlay({
	    overlays: placemark
	  });

	  map.addInteraction(drag);

	  drag.on('dragend', function(e){
	    if (e.overlay===placemark[0]) {
	      // Animate placemark
	      placemark[0].show(true);
	    }
	  });
	  

         /*
	  placemark[0].on('changefeature', function(evt){
   		// var feature = evt.feature;
   		// var coordsWGS84 = toWGS84(feature);
		 
		 var coordsWGS84 = evt.feature.getGeometry().getCoordinates();
		 
		 $( "input[name='coordx']" ).val(coordsWGS84[0]);
		$( "input[name='coordy']" ).val(coordsWGS84[1]);
	});
	 */
</script>
<script>

function doPan(coordx, coordy) {
                alert(coordx + " --- " + coordy);
		
		// pan from the current center
		var pan = ol.animation.pan({
		  source: map.getView().getCenter()
		});

             
		
		map.beforeRender(pan);
		
		// when we set the new location, the map will pan smoothly to it
		map.getView().setCenter([coordx, coordy]);
		
}

/*
	function doPan(coordx, coordy) {
                alert('aaaaaa');

		// pan from the current center
		var pan = ol.animation.pan({
		  source: map.getView().getCenter()
		});

             
		
		map.beforeRender(pan);
		
		// when we set the new location, the map will pan smoothly to it
		map.getView().setCenter(coordx, coordy);
      	} 

*/
	 
</script>
<script>	 
	 placemark.forEach(function(p) {
		    p.on('changefeature', function(evt){
			// var feature = evt.feature;
			// var coordsWGS84 = toWGS84(feature);

			 var coordsWGS84 = evt.feature.getGeometry().getCoordinates();

			 $( "input[name='coordx']" ).val(coordsWGS84[0]);
			$( "input[name='coordy']" ).val(coordsWGS84[1]);
		   });
	  });
	  
	</script>
