<hr class="my-4">
  <ul>
    <li>shows listed and paginated records in the OL map</li>
    <li>shows a table with last n. records inserted</li>
    <li>shows the option of modifiy and delete the record</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>
<%	
  var records = passEjsObj[0]["records"];
  var currentPage = passEjsObj[0]["currentpage"];
  var navPage = currentPage + 1;
  var limit = passEjsObj[0]["currentlimit"];
  var pagesnum = passEjsObj[0]["pagesnum"];
  var paginLink = "/form3maps/recordlistpag/";
%>  


<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
	// How to extract values ftom getPassEjs
	// alert(getPassEjs);
	// alert(getPassEjs[0]);
	// alert(getPassEjs[0][0]["result"]);
	// alert(getPassEjs[0][0]["result"]);
	// var records = getPassEjs[0][0]["result"];
</script>

<!-- <p>passEjs: <%= passEjs; %></p> <br><br> -->

<form action="/form3maps/createm">
    <button type="submit">Create a New Record!</button>
</form>

<p>or</p>

<form action="/form3maps/search/" method="POST">
    <fieldset>
	<legend>Search for a specific record</legend>
       
	<ol>
            <li>
	        <label for="id">ID</label>
		<input type="text" placeholder="id" name="id" value="">
	    </li>
	    <li>
	        <label for="name">Name</label>
		<input type="text" placeholder="name" name="name" value="">
	    </li>
	    <li>
	        <label for="age">Age</label>
	        <input type="text" placeholder="age" name="age" value="">
	    </li>
        </ol>
    </fieldset>
    <fieldset>
        <button type="submit">Submit</button>
    </fieldset>	
</form>




<div class="table-responsive">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">id</th>
	      <th scope="col">name</th>
	      <th scope="col">date</th>
	      <th scope="col">time</th>
	      <th scope="col">rate</th>
	      <th scope="col">coord X</th>
	      <th scope="col">coord Y</th>
	      <th scope="col">show</th>
	      <th scope="col">modify</th>
	      <th scope="col">delete</th>
	    </tr>
	  </thead>
	  <tbody>
	    <%
		for(var i=0; i < records.length; i++) {
		     let scope = i+1;
	    %>
	       <tr>
		   <th scope="row"><%= scope %></th>
		   <td><%= records[i].id %></td>
		   <td><%= records[i].name %></td>
		   <td><%= records[i].time.toLocaleDateString() %></td>
		   <td><%= records[i].time.toLocaleTimeString() %></td>
		   <td><%= records[i].rate %></td>
		   <td><%= records[i].loc.coordinates[0] %></td>
		   <td><%= records[i].loc.coordinates[1] %></td>
		   <td><a href="/form3maps/readg/<%= records[i].id %>"><span class="glyphicon glyphicon-search"></span></a></td>
		   <td><a href="/form3maps/edit/<%= records[i].id %>">modify</a></td>
		   <td><a href="/form3maps/deletep/<%= records[i].id %>">delete</a></td>
	       </tr>
	    <% } %>
	  </tbody>
	     <tfoot>
		<tr>
                 <td colspan="5">
		  <nav aria-label="Page navigation example">
		    <ul class="pagination">
		    
		    		<%
                                   var firstLink = paginLink + (0) + "/" + limit + "/" + pagesnum;
                                   var prev2Link = paginLink + (currentPage - 2) + "/" + limit + "/" + pagesnum;
				   var prevLink = paginLink + (currentPage - 1) + "/" + limit + "/" + pagesnum;
				   var currentLink = paginLink + (currentPage) + "/" + limit + "/" + pagesnum;
				   var nextLink = paginLink + (currentPage + 1) + "/" + limit + "/" + pagesnum;
                                   var next2Link = paginLink + (currentPage + 2) + "/" + limit + "/" + pagesnum;
                                   var lastLink = paginLink + (pagesnum) + "/" + limit + "/" + pagesnum;
                                 %>
                                           
                                 <%  
                                   switch(true) {
                                      		case (currentPage == 0 && pagesnum == 1):
				      			%>
							   <li class="page-item"><a class="page-link" class="btn disabled" >&lt;&lt;</a></li>
							   <li class="page-item"><a class="page-link" class="btn disabled" >Previous</a></li>
							   <li class="page-item"><a class="page-link" href="<%= currentLink; %>"><span class="pagin-active"><%= navPage; %></span></a></li>
							   <li class="page-item"><a class="page-link" class="btn disabled"">Next</a></li>
							   <li class="page-item"><a class="page-link" class="btn disabled">&gt;&gt;</a></li>
							<%
 						break;
						
                                      		case (currentPage == 0 && pagesnum == 2):
				      			%>
							   <li class="page-item"><a class="page-link" class="btn disabled" >&lt;&lt;</a></li>
							   <li class="page-item"><a class="page-link" class="btn disabled" >Previous</a></li>
							   <li class="page-item"><a class="page-link" href="<%= currentLink; %>"><span class="pagin-active"><%= navPage; %></span></a></li>
							   <li class="page-item"><a class="page-link" href="<%= nextLink; %>"><%= navPage + 1; %></a></li>    
							   <li class="page-item"><a class="page-link" href="<%= nextLink; %>">Next</a></li>
							   <li class="page-item"><a class="page-link" href="<%= lastLink; %>">&gt;&gt;</a></li>
							<%
 						break;						
				      
				      		case (currentPage == 0):
				      
							%>
							   <li class="page-item"><a class="page-link" class="btn disabled" >&lt;&lt;</a></li>
							   <li class="page-item"><a class="page-link" class="btn disabled" >Previous</a></li>
							   <li class="page-item"><a class="page-link" href="<%= currentLink; %>"><span class="pagin-active"><%= navPage; %></span></a></li>
							   <li class="page-item"><a class="page-link" href="<%= nextLink; %>"><%= navPage + 1; %></a></li>    
							   <li class="page-item"><a class="page-link" href="<%= next2Link; %>"><%= navPage + 2; %></a></li>
							   <li class="page-item"><a class="page-link" href="<%= nextLink; %>">Next</a></li>
							   <li class="page-item"><a class="page-link" href="<%= lastLink; %>">&gt;&gt;</a></li>
							<%
						 break;					
						 
						 case (currentPage == pagesnum &&  pagesnum == 1):
							%>
							    <li class="page-item"><a class="page-link" href="<%= firstLink; %>">&lt;&lt;</a></li>
							    <li class="page-item"><a class="page-link" href="<%= prevLink; %>">Previous</a></li>
							    <li class="page-item"><a class="page-link" href="<%= currentLink; %>"><span class="pagin-active"><%= navPage; %></span></a></li>
							    <li class="page-item"><a class="page-link" class="btn disabled" >Next</a></li>
							    <li class="page-item"><a class="page-link" class="btn disabled" >&gt;&gt;</a></li>
							<%
						break;
						
						case (currentPage == pagesnum &&  pagesnum == 2):
							%>
							    <li class="page-item"><a class="page-link" href="<%= firstLink; %>">&lt;&lt;</a></li>
							    <li class="page-item"><a class="page-link" href="<%= prevLink; %>">Previous</a></li>
							    <li class="page-item"><a class="page-link" href="<%= prevLink; %>"><%= navPage -1; %></a></li>
							    <li class="page-item"><a class="page-link" href="<%= currentLink; %>"><span class="pagin-active"><%= navPage; %></span></a></li>
							    <li class="page-item"><a class="page-link" class="btn disabled" >Next</a></li>
							    <li class="page-item"><a class="page-link" class="btn disabled" >&gt;&gt;</a></li>
							<%
						break;

						 case (currentPage == pagesnum):
							%>
							    <li class="page-item"><a class="page-link" href="<%= firstLink; %>">&lt;&lt;</a></li>
							    <li class="page-item"><a class="page-link" href="<%= prevLink; %>">Previous</a></li>
							    <li class="page-item"><a class="page-link" href="<%= prev2Link; %>"><%= navPage - 2; %></a></li>
							    <li class="page-item"><a class="page-link" href="<%= prevLink; %>"><%= navPage -1; %></a></li>
							    <li class="page-item"><a class="page-link" href="<%= currentLink; %>"><span class="pagin-active"><%= navPage; %></span></a></li>
							    <li class="page-item"><a class="page-link" class="btn disabled" >Next</a></li>
							    <li class="page-item"><a class="page-link" class="btn disabled" >&gt;&gt;</a></li>
							<%
						break;
						
					      default:
						   %>
						<li class="page-item"><a class="page-link" href="<%= firstLink; %>">&lt;&lt;</a></li>
						<li class="page-item"><a class="page-link" href="<%= prevLink; %>">Previous</a></li>
						<li class="page-item"><a class="page-link" href="<%= prevLink; %>"><%= navPage - 1; %></a></li>
						<li class="page-item"><a class="page-link" href="<%= currentLink; %>"><span class="pagin-active"><%= navPage; %></span></a></li>
						<li class="page-item"><a class="page-link" href="<%= nextLink; %>"><%= navPage + 1; %></a></li>
						<li class="page-item"><a class="page-link" href="<%= nextLink; %>">Next</a></li>
						<li class="page-item"><a class="page-link" href="<%= lastLink; %>">&gt;&gt;</a></li>
					     <%
                                      } // end switch
                                      %>

                                           
                                 
		    
		            	    </ul>
		  </nav>
                 </td>
		</tr>
	      </tfoot>
	</table>
</div>

<hr class="my-4">

<p class="lead">Other options...</p>
<a href="/">back to the home page</a>
<br><br>
<a href="/form3maps/createm">insert another record</a>
<br><br>
<a href="/form3maps/recordlistpag/0/<%= limit; %>/<%= pagesnum; %>">show records table</a>
