<!-- <p class="lead">Deleting Record</p> -->
 <hr class="my-4">
  <ul>
    <li>shows the record to delete</li>
    <li>gives the option to regret</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>
<% var result = passEjsObj[0]["result"]; %>
<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
	// How to extract values ftom getPassEjs
	// alert(getPassEjs);
	// alert(getPassEjs[0]);
	// alert(getPassEjs[0]["result"]);
	// var records = getPassEjs[0]["result"];
</script>

<!-- <p>passEjs: <%= passEjs; %></p> <br><br> -->

<p class="lead">You asked to delete this record, are you sure?</p>

<a href="#"><img class = "img-fluid img-thumbnail" src="<%= result["image"] %>"></a>


<ul class="info">
    <li>
      <p>id: <span id="theId"><%= result["_id"] %></span></p>
    </li>
    <li>
      <p>Username: <span id="theUsername"><%= result["username"] %></span></p>
    </li>
    <li>
      <p>time: <span id="theTime"><%= result["createdDate"] %></span></p>
    </li>
    <li>
      <p>E-mail: <span id="theEmail"><%= result["email"] %></span></p>
    </li>
    <li>
      <p>First Name: <span id="theFirstName"><%= result["firstName"] %></span></p>
    </li>
    <li>
      <p>Last Name: <span id="theLastName"><%= result["lastName"] %></span></p>
    </li>
    <li>
      <p>Token: <span id="theToken"><%= result["token"] %></span></p>
    </li>
</ul>

<script>
 	var result = getPassEjs[0]["result"];
	
	$(document).ready(function(){
		$( "input[name='_id']" ).val(result["_id"]);
		
	});
</script>

<form action="/login/deletep/" method="post" class="my-2 my-lg-0">
		<div class="form-raw">
			<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">ID</div>
			</div>
			<input name="_id" class="form-control mr-sm-2" placeholder="ID" aria-label="ID" readonly>

	                <div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">ID</div>
			</div>
		
                        <input name="password" class="form-control mr-sm-2" placeholder="ID" aria-label="ID">
		
		</div>
        </div>


	<div class="form-row">
     		<button id="delButton" class="btn btn-outline-danger my-2 my-sm-0" >Yes, Delete it!</button>
		<a href="/cloudinary/gallery" id="regrButton" class="btn btn-outline-primary my-2 my-sm-0" >No, Keep it!</a> 
     	</div>	
  </form> 


<hr class="my-4">
<p class="lead">Other options...</p>
<a href="/">back to the home page</a>
<br><br>

