 
<hr class="my-4">
  <ul>
    <li>shows the monograpy of the selected record</li>
    <li>shows the option of modifiy and delete the record</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>
<% var result = passEjsObj; %>
<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
	// How to extract values ftom getPassEjs
	// alert(getPassEjs);
	// alert(getPassEjs[0]);
	// alert(getPassEjs[0]["result"]);
	// var records = getPassEjs[0]["result"];
</script>

<!-- <p>passEjs: <%= passEjs; %></p> <br><br> -->

<p class="lead">Record details:</p>

<a href="#"><img class = "img-fluid img-thumbnail" src="result["image"]"></a>


<ul class="info">
    <li>
      <p>id: <span id="theId"><%= result["_id"] %></span></p>
    </li>
    <li>
      <p>Username: <span id="theUsername"><%= result["username"] %></span></p>
    </li>
    <li>
      <p>time: <span id="theTime"><%= result["createdDate"] %></span></p>
    </li>
    <li>
      <p>E-mail: <span id="theEmail"><%= result["email"] %></span></p>
    </li>
    <li>
      <p>First Name: <span id="theFirstName"><%= result["firstName"] %></span></p>
    </li>
    <li>
      <p>Last Name: <span id="theLastName"><%= result["lastName"] %></span></p>
    </li>
    <li>
      <p>Token: <span id="theToken"><%= result["token"] %></span></p>
    </li>
</ul>

<div class="btn-group" role="group" aria-label="Basic example">

      <button type="button"
	      <input type="button" onclick="location.href='/login/updateg/<%= result["id"] %>';"  
	      class="btn btn-secondary">Edit</button>
      <button type="button"
	      <input type="button" onclick="location.href='/loging/deleteg/<%= result["id"] %>';"  
	      class="btn btn-secondary">Delete</button>
</div>

<hr class="my-4">
<p class="lead">Other options...</p>
<a href="/">back to the home page</a>

 
