<hr class="my-4">
  <ul>
    <li>shows the just inserted data recorded from the form</li>
    <li>the data are taken as a result of a query just after the insertion</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<% var theObject = passEjsObj; %>


<script>
// var getPassEjs = <%- passEjs %>;
</script>

<script>
	// How to extract values ftom getPassEjs
	// alert(getPassEjs);
	// alert(getPassEjs[0]);
	// alert(getPassEjs[0]["name"]);
</script>

<!-- <p>passEjs: <%= passEjs; %></p> <br><br> -->


<p class="lead">Just Inserted Data:</p>

<ul class="info">
    <li>
      <p>id: <span id="theId"><%= theObject["_id"] %></span></p>
    </li>
    <li>
      <p>username: <span id="theUsr"><%= theObject["username"] %></span></p>
    </li>
    <li>
      <p>time: <span id="theTime"><%= theObject["createdDate"] %></span></p>
    </li>
    <li>
      <p>First Name: <span id="theFName"><%= theObject["firstName"] %></span></p>
    </li>
    <li>
      <p>Last Name: <span id="theLName"><%= theObject["lastName"] %></span></p>
    </li>
</ul>


<hr class="my-4">
<p class="lead">Other options...</p>
<a href="/">back to the home page</a>
<br><br>
<a href="/cloudinary/gallery">back to the gallery</a>
<br><br>
