
<!-- <p class="lead">Form 2 Update Record</p> -->
 <hr class="my-4">
  <ul>
    <li>updates a record into the MongoDB</li>
    <li>recieves the record id</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>
<script type="text/javascript" src="/static/js/OL.js"></script>




<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar;
  var result = passEjsObj[0]["result"];
  var theId = result["_id"];
  var theTitle = result["title"];
  var theDescr = result["description"];
  var theImg = result["image"];
  var theImgID = result["image_id"];
  var theTime = result["created_at"];


/*
  var theDay = result["time"].toLocaleDateString();
  var theTime = result["time"].toLocaleTimeString();
*/
%>

<p> theTime: <%= theTime; %> </p>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
    $(document).ready(function(){
	    $( "#bla" ).html("passEjs: " + getPassEjs[0]["result"]["description"]);
	});
</script>

<div id="bla">ooooo</div>

<script>
  var result = getPassEjs[0]["result"];
 
  alert("result");
  alert(result);
  alert(result["_id"]);
  alert(result["title"]);
  alert(result["description"]);
  alert(result["image"]);
  alert(result["image_id"]);
  alert(result["created_at"]);

$(document).ready(function(){
        
	$( "input[name='id']" ).val(result["_id"]);
	$( "input[name='title']" ).val(result["title"]);
	$( "input[name='imgID']" ).val(result["image_id"]);
	$( "input[name='time']" ).val(result["created_at"]);
 	$("#description").html(result["description"]);
	$( "input[name='img']" ).val(result["image"]);

});

</script>

<a href="#"><img id="showImg" class="img-fluid img-thumbnail" src="<%= result["image"] %>"></a>


<form action="/cloudinary/updatep/" method="post" class="my-2 my-lg-0">

	<div class="form-raw">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">ID</div>
			</div>
			<input name="id" class="form-control mr-sm-2" placeholder="ID" aria-label="ID" readonly>
		</div>
        </div>

	<div class="form-raw">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">image ID</div>
			</div>
			<input name="imgID" class="form-control mr-sm-2" placeholder="image ID" aria-label="imageID" readonly>
		</div>
        </div>

	<div class="form-raw">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">image</div>
			</div>
			<input name="img" class="form-control mr-sm-2" placeholder="image" aria-label="image" readonly>
		</div>
        </div>

	<div class="form-raw">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Time</div>
			</div>
			<input name="time" class="form-control mr-sm-2" value="<%= theTime; %>" aria-label="ID" readonly>
					</div>
 	 </div>
	 
	 <div class="form-raw">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Title</div>
			</div>
			<input name="title" class="form-control mr-sm-2" placeholder="Point Name" aria-label="Name">
		</div>
 	 </div>
	
	<div class="form-raw">
		<div class="form-group">
		  <div class="input-group-prepend">
			<div class="input-group-text">Description</div>
		  </div>
		  <textarea id="description" class="form-control rounded-0" name="description" placeholder="enter description..." rows="3"></textarea>
		</div>
     	</div>	       
	 	   
	<div class="form-row">
     		<button id="theButton" class="btn btn-outline-success my-2 my-sm-0" >Update</button>   
     	</div>	
  </form> 

<script>

// ---------------------------------

/*
var cloudyFolder = 'alessdelo/test2/';

function splitExtension(filename) {

    // var parts = filename.split('.').slice(0, -1).join('.');
    
   var parts =   filename.split('.').pop();
    
   alert(parts);
  //   alert("extension" + parts[1]);

}

splitExtension(test.gif);

*/

</script>
