<hr class="my-4">
  <ul>
    <li>shows an image gallery from the records </li>
    <li>retrieves record images from cloudinary</li>
    <li>shows the option of every record</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<%= strMyVar %> 

<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>
<%	
  var records = passEjsObj[0]["records"];
  // var currentPage = passEjsObj[0]["currentpage"];
  // var navPage = currentPage + 1;
  // var limit = passEjsObj[0]["currentlimit"];
  // var pagesnum = passEjsObj[0]["pagesnum"];
  // var paginLink = "/form3maps/recordlistpag/";
%>  


<script>
var getPassEjs = <%- passEjs %>;
</script>

    <%
		for(var i=0; i < records.length; i++) {
		     let scope = i+1;
	    %>
	       <tr>
		   <th scope="row"><%= scope %></th>
		   <td><%= records[i].id %></td>
		   <td><%= records[i].name %></td>
		   <td><%= records[i].time.toLocaleDateString() %></td>
		   <td><%= records[i].time.toLocaleTimeString() %></td>
		   <td><%= records[i].rate %></td>
		   <td><%= records[i].loc.coordinates[0] %></td>
		   <td><%= records[i].loc.coordinates[1] %></td>
		   <td><a href="/form3maps/readg/<%= records[i].id %>"><span class="glyphicon glyphicon-search"></span></a></td>
		   <td><a href="/form3maps/edit/<%= records[i].id %>">modify</a></td>
		   <td><a href="/form3maps/deletep/<%= records[i].id %>">delete</a></td>
	       </tr>
	    <% } %>
